.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: rgb(0, 140, 255);
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 110, 255);
}

body {
    font-family: 'Arial';
    background: rgb(173, 222, 255);
    color: black;
}